@import '../../styles/shared';

.Gmap {
    height: 340px;
    width: 100%;
    padding-left: $gutter-padding;
    padding-right: $gutter-padding;

    &-label {
      color: $color-black;
      background-color: #ededed;
      width: 80px;
      padding: 15px 10px;
      display: inline-flex;
      text-align: center;
      align-items: center;
      justify-content: center;
      border-radius: 5px;
      border: 1px solid $color-gray;
      transform: translate(-30%, -50%);
    }
}